<!-- ref:remove -->
<script data-main="js/config" src="bower_components/requirejs/require.js"></script>
<!-- endref -->
<!-- build:js({app,.tmp}) scripts/main.js -->
<!--<script src="../dist/scripts/main.js"></script>-->
<!-- endbuild -->