head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Foundation 5
    // build:css(.tmp) styles/libraries.css
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.css")
    // endbuild
    // build:css(.tmp) styles/app.css
    link(rel="stylesheet", href="styles/app.css")
    // endbuild
    