extends layout/layout
include mixins/placeholders
block content
	ul.example-orbit(data-orbit='')
		li
			picture
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				source(srcset='images/banner-large.gif', media='(min-width: 57em)')
				source(srcset='images/banner-medium.gif', media='(min-width: 43em)')
				source(srcset='images/banner-small.gif', media='(min-width: 30em)')
				<!--[if IE 9]></video><![endif]-->
				img(srcset='images/banner-small.gif', alt='blaa')
			.orbit-caption
				| Caption One.
		li
			picture
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				source(srcset='images/banner-large.gif', media='(min-width: 57em)')
				source(srcset='images/banner-medium.gif', media='(min-width: 43em)')
				source(srcset='images/banner-small.gif', media='(min-width: 30em)')
				<!--[if IE 9]></video><![endif]-->
				img(srcset='images/banner-small.gif', alt='blaa')
			.orbit-caption
				| Caption One.
		li
			picture
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				source(srcset='images/banner-large.gif', media='(min-width: 57em)')
				source(srcset='images/banner-medium.gif', media='(min-width: 43em)')
				source(srcset='images/banner-small.gif', media='(min-width: 30em)')
				<!--[if IE 9]></video><![endif]-->
				img(srcset='images/banner-small.gif', alt='blaa')
			.orbit-caption
				| Caption One.