extends layout/layout
include mixins/placeholders
block content
	ul.example-orbit(data-orbit='')
		li
			img(srcset='images/banner-small.gif', alt='blaa')
			.orbit-caption
				| Caption One.
		li
			img(srcset='images/banner-small.gif', alt='blaa')
			.orbit-caption
				| Caption Two.
		li
			img(srcset='images/banner-small.gif', alt='blaa')
			.orbit-caption
				| Caption Tree.